In [ ]:
import numpy as np
import pandas as pd

###### DataFrame을 생성하는 함수

In [ ]:
def make_df(cols, ind):
    data = {c: [str(c) + str(i) for i in ind] for c in cols }
    return pd.DataFrame(data, ind)

In [ ]:
# make_df 테스트
make_df('ABC', range(3))

### Series의 concat
pd.concat()

In [ ]:
s1 = pd.Series(['A','B','C'], index=[1,2,3])
s2 = pd.Series(['D','E','F'], index=[4,5,6])
s3 = pd.concat([s1, s2])
s3

### DataFrame의 concat
행단위로 concat하거나 열단위로 concat할 수 있음

In [ ]:
df1 = make_df('AB', [1,2])
df2 = make_df('AB', [3,4])
print(df1);
print(df2);
print('\n pd.concat([df1, df2], axis=0)', '# DataFrame을 행 단위로 concat')
print(pd.concat([df1, df2], axis=0))

print('\n pd.concat([df1, df2], axis=1)', '# DataFrame을 열 단위로 concat')
print(pd.concat([df1, df2], axis=1))

#### concat할때 인덱스의 중복
두개의 DataFrame df1와 df2를 concat하려고 하는데 인덱스가 같은 행이 있다면?
df1과 df2중 어떤 어떤 DataFrame의 데이터가 표시될까?
예를 들어 인덱스가 같다면 df1의 데이터를 사용하는 방식일까?
아니면 인덱스가 중복된다고 에러를 표시할까?
정답은, 인덱스가 중복된 채로 concat된다.

In [ ]:
x = make_df('AB', [0,1])
y = make_df('AB', [0,1])
pd.concat([x,y])

인덱스가 중복된 경우 에러를 발생시키려면
pd.concat 할때 verify_integrity=True를 전달한다.
아래 예제는 verify_integrity=True를 전달해서 에러가 발생하는 것을 보여준다

In [48]:
x = make_df('AB', [0,1])
y = make_df('AB', [0,1])
try:
    pd.concat([x,y], verify_integrity=True)
except ValueError as e:
    print("ValueError:", e)

ValueError: Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

인덱스가 중복되었을때
1. 중복된 채로 내버려둔다
2. 에러를 발생시킨다
3. DataFrame에 있는 인덱스는 무시하고, 새로 만든다

3번의 인덱스를 무시하는 것은 ignore_index=True를 전달하면 된다. 인덱스를 무시한다는 것은 인덱스가 단순히 row의 행번호 이상의 의미가 없는 경우에 해당한다.

In [53]:
df1 = make_df('AB', [0,1])
df2 = make_df('AB', [0,1])
pd.concat([df1, df2], ignore_index=True)

    A   B
0  A0  B0
1  A1  B1
2  A0  B0
3  A1  B1

인덱스가 중복되었을때 멀티 인덱스를 만드는 방법도 있다.

pd.concat()에 keys 파라미터에 DataFrame의 첫번째 레벨 인덱스를 정의해주면 된다.

In [55]:
df1 = make_df('AB', [0,1])
df2 = make_df('AB', [0,1])
pd.concat([df1, df2], keys=['df1', 'df2'])

        A   B
df1 0  A0  B0
    1  A1  B1
df2 0  A0  B0
    1  A1  B1